body {
    background-color: #CEB202 ;
}

/* HEADER  */
* { /* star affects all the elements (rule) */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
::selection {
    color: #CEB202;
    background: white;
}
 li, a, button {
     font-family: "Muli",sans-serif;
     font-size: 1.5vw;
     font-weight: bold;
     color: #ffffff;
     text-decoration: none;
 }
 header {
     display: flex;
     justify-content: flex-end;
     align-items: center;

     padding: 0% 5%;

 }

 .nav_links{
     list-style: none;
   
 }

 .nav_links li {
     display: inline-block; /* side by side */
     padding: 0px 20px ;
 }
/*
 .nav_links li a {
     transition: all 0.3s ease 0s;
 }
*/
 .nav_links li a:hover {
     padding: 10%;
     color: #CEB202;
     background-color: white;
 }

.Change-of-Narrative {
    cursor: pointer;

    margin-right: auto;
  
    margin-top: 2%;
  }

  .Change-of-Narrative img {
    width:7vw;
 }

/* ARROWS */
.arrow
{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.arrow span
{
    display: block;
    width: 4vw;
    height:4vw;

    border-bottom: 0.1vw solid #ffffff;
    border-right: 0.1vw solid #ffffff;

    margin: -35px;

    transform: rotate(45deg);
    animation: animate 2s infinite;

}

.arrow span:nth-child(1)
{
    animation-delay: -0.2s;
}
.arrow span:nth-child(2)
{
    animation-delay: -0.4s;
}
@keyframes animate
{
    0%
    {
        opacity: 1;
        transform: rotate(45deg) translate(-20px,-20px);

    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);

    }
}
