.first_section {
  width: 100vw;
  height: 80vh;
}
.Title {
  margin-top: 10%;

  font-family: PlayfairDisplay;
  font-weight: bold;
  font-size: 10vw;
  text-align: center;
  color: #ffffff;
}

.second_section {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.mission h2 {
  padding-top: 15%;
  text-align: right;

  padding-right: 15%;

  font-family: PlayfairDisplay;
  font-size: regular;
  font-size: 3vw;
  color: #ed3535;
}

.mission p {
  text-align: right;
  width: 60vw;

  padding-top: 1.5%;

  margin-left: 25%;
  font-family: "Muli", sans-serif;
  font-size: 1.5vw;
}
