/* TITLE  */
.Title {
  margin-top: 10%;
  font-family: PlayfairDisplay;
  font-size: 7vw;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr;
  grid-row-gap: 2%;
}

.Project {
  font-size: 8vw;
}
.first_section {
  width: 100vw;
  height: 70vh;
}

.second_section {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.lets-change h2 {
  padding-top: 15%;
  text-align: left;

  padding-left: 10%;

  font-family: PlayfairDisplay;
  font-size: regular;
  font-size: 3vw;
  color: #ed3535;
}

.lets-change p {
  text-align: left;
  width: 50vw;

  padding-top: 2.5%;

  margin-left: 10%;
  font-family: "Muli", sans-serif;
  font-size: 1.3vw;
}
